main:
  gitops:
    # -- Default gitops channel to install on remote clusters
    channel: "gitops-1.17"

global:
  # -- List of additional value files to be passed to the pattern
  extraValueFiles: []
  pattern: none
  # -- Repository URL pointing to the pattern
  repoURL: none
    # -- The branch or Git reference to use to deploy the pattern
  targetRevision: main
  options:
    applicationRetryLimit: 20
  secretStore:
    backend: "vault"

# -- Dictionary of all the clustergroups of the pattern
# @default -- depends on the individual settings
clusterGroup:
  # -- Dictionary of subscriptions for this specific clusterGroup
  subscriptions:
    # -- Name of the subscription
    acm:
      # -- The catalog source for this subscription
      source: redhat-operators
  # -- The set of cluters managed by ACM which is running inside this clusterGroup
  managedClusterGroups: {}
#    testRegion:
#      name: region-one
#      clusterPools:
#        testPool:
#          name: spoke
#          openshiftVersion: 4.10.18
#          baseDomain: blueprints.rhecoeng.com
#          platform:
#            aws:
#              region: ap-southeast-2
#          clusters:
#          - spoke1
#      labels:
#      - name: clusterGroup
#        value: region-one
#    testRegionTwo:
#      name: region-two
#      clusterDeployments:
#        myFirstCluster:
#          name: mcluster1
#          openshiftVersion: 4.10.18
#          baseDomain: blueprints.rhecoeng.com
#          platform:
#            azure:
#              baseDomainResourceGroupName: dojo-dns-zones
#              region: eastus
#      labels:
#        - name: clusterGroup
#          value: region-two

acm:
  # -- Just used for IIB testing, drives the source and channel for the MCE subscription triggered by ACM
  # @default -- Uses the official redhat sources
  mce_operator:
    source: redhat-operators
    channel: null


# -- Default secretstore configuration variables
# @default -- depends on the individual settings
secretStore:
  # -- Name of the clustersecretstore to be used for secrets
  name: vault-backend
  kind: ClusterSecretStore
